.intro__title {
    max-width: 690px;
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
}



@media screen and (max-width: 1024px) {
    .intro__title {
        line-height: 58px;
        padding-top: 92px;
    }
}   

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        padding-top: 0px;
    }
}
